Repository orbitrs/.github, changes with the owners that .github/CODEOWNERS names for each.
All owners: @orbitrs/core-team, @orbitrs/framework-team, @orbitrs/tooling-team, @orbitrs/components-team, @orbitrs/docs-team, @orbitrs/devops-team

Remove .github directory from .gitignore
  .gitignore
Owners: @orbitrs/core-team

ci: fix workflow configurations
  .github/workflows/cache.yml
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/documentation.yml
  .github/workflows/release.yml
Owners: @orbitrs/devops-team

ci: fix workspace paths
  .github/workflows/ci.yml
Owners: @orbitrs/devops-team

ci: simplify workflow paths
  .github/workflows/ci.yml
Owners: @orbitrs/devops-team

ci: update webkit dependency for Ubuntu 24.04
  .github/workflows/ci.yml
Owners: @orbitrs/devops-team

Delete examples directory
  examples/counter.orbit
  examples/user-profile.orbit
Owners: @orbitrs/docs-team, @orbitrs/framework-team

Delete orbitrs.code-workspace
  orbitrs.code-workspace
Owners: @orbitrs/core-team

Delete .github/workflows directory
  .github/workflows/cache.yml
  .github/workflows/changelog.yml
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/documentation.yml
  .github/workflows/release.yml
Owners: @orbitrs/devops-team

Delete .github/scripts directory
  .github/scripts/generate_changelog.py
Owners: @orbitrs/devops-team

Update README.md
  README.md
Owners: @orbitrs/docs-team

.github/CODEOWNERS:

# Default owners for everything in the repo
* @orbitrs/core-team

# Core framework code
/orbit/ @orbitrs/framework-team
/orbit/src/ @orbitrs/framework-team

# Analyzer code
/orbit-analyzer/ @orbitrs/tooling-team
/orbit-analyzer/src/ @orbitrs/tooling-team

# Component library code
/orbitkit/ @orbitrs/components-team
/orbitkit/src/ @orbitrs/components-team

# CLI tool code
/orbiton/ @orbitrs/tooling-team
/orbiton/src/ @orbitrs/tooling-team

# Documentation
/docs/ @orbitrs/docs-team
*.md @orbitrs/docs-team

# Build and workflow configurations
/.github/ @orbitrs/devops-team
**/Cargo.toml @orbitrs/core-team
**/Cargo.lock @orbitrs/core-team

# Examples
/examples/ @orbitrs/docs-team @orbitrs/framework-team
